/* fonts */
$main-font-size: 16px;
$main-font-family: Helvetica, Arial, sans-serif;


/*colors*/
$bg-color: #35495e;
$main-font-color: #000;
$light-main-font-color: #fff;
$overlay-color: #42b883;

/* units */
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;